/* The CSS Of All Elements */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* End Of The CSS Of All Elements */
body {
  margin: 0;
  background-color: #ddd;
}
/* The Layout Of The Page That Contain Header , Section(Contant), Footer*/
.layout {
  display: grid;
  grid-template-areas:
    "head head head head head head head head head head head head"
    "seccon seccon seccon seccon seccon seccon seccon seccon seccon seccon seccon seccon"
    "foot foot foot foot foot foot foot foot foot foot foot foot ";
  grid-template-rows: 150px 2fr 250px;
  height: 600vh;
}

/* The header of The Page */
.layout header {
  grid-area: head;
  background-color: #3832ec;
}

/* The CSS for Unordered List of The Header */
.layout header ul {
  list-style: none;
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}
/* The End of The CSS for Unordered List of The Header */

/* The CSS of the List Elements of The Unordered List in The Header*/
.layout header ul li {
  margin-right: 95px;
}
/* The CSS for The Fifth Child of The Unordered List from List Elements*/
.layout header ul li:nth-child(7) {
  margin-left: 30px;
}
/* The End of The CSS for The Fifth Child of The Unordered List from List Elements*/
/* The End of The CSS of the List Elements of The Unordered List in The Header*/

/* The CSS of The of The Links In The Elements of The List*/
.layout header ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.954);
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
/* The End of The CSS of The of The Links In The Elements of The List*/

/* The End of The header of The Page */

/* CSS of The content of The Page */
.layout section {
  grid-area: seccon;
}

/* The CSS For Heading Of The Home Page */
.layout section h1 {
  color: rgba(255, 255, 255, 0.954);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 70px;
  font-weight: bold;
}
/* The CSS For Heading Of The Home Page */

/* The Paragraph Under Heading For Knowing The Website */
.layout section p {
  color: rgba(255, 255, 255, 0.954);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
/* End Of The Paragraph Under Heading For Knowing The Website */

/* The CSS Of Div Of Search Form  */
.layout section .searchForm {
  display: flex;
  justify-content: center;
}
/* End Of The CSS Div Of Search Form  */

/* The CSS Of From Of The Search  */
.layout section .searchForm form {
  margin-top: 20px;
  margin-bottom: 50px;
}
/* End Of The CSS Of From Of The Search  */

/* The CSS Of The Main Search Input Of SearchForm */
.layout section .searchForm form input {
  width: 1400px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.954);
  background-color: white;
}
/* End Of The CSS Of The Main Search Input Of SearchForm */

/* CSS Of The Placeholder Of Input search  */
.layout section .searchForm form input::placeholder {
  background-image: url(../../IMAGES/Icons/search.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 25px 25px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1400px;
  height: 10px;
}
/* End Of CSS Of The Placeholder Of Input search  */

/* The CSS Of Heading Of The Most Famous Books */
.layout section h2 {
  color: rgba(255, 255, 255, 0.954);
  background-color: #3832ec;
  width: 410px;
  margin-left: 60px;
  text-align: center;
  padding: 20px;
  border-radius: 40px;
  border: 5px solid rgba(255, 255, 255, 0.954);
}
/* End Of The CSS Of Heading Of The Most Famous Books */

/* The CSS Of The Most Famous English Books And Most Famous Arabic Books */
.MostFamousArabicAndEnglishBooks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 100px;
}

/* The CSS Of The English Book Card And The Arabic Book Card */
.EnglishAndArabicBookCard {
  width: 250px;
  height: 522px;
  margin: 15px;
  background-color: #343434;
}
/* End Of The CSS Of The English Book Card */

/* The CSS Of The Images on The English Book Cards And Arabic Book Cards*/
.ArabicAndEnglishImage {
  width: 250px;
  height: 500px;
}
/* End Of The CSS Of The Images on The English Book Cards */

/* The CSS Of Div (English Book Link And Arabic Link) */
.EnglishAndArabicLink {
  width: 100%;
  text-align: center;
  background-color: #343434;
  padding: 10px;
}
/* End Of The CSS Of Div (English Book Link And Arabic Link) */

/* The CSS Of The Link Of Each Book in Famous English */
/* .layout section .TheMostFamousEnglishBooks .EnglishBookCard .EnglihBookLink a { */
.aLinkForArabicAndEnglishBooks {
  width: 100%;
  color: rgba(255, 255, 255, 0.954);
  text-decoration: none;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* The Css Of Most Famous Arabic Stories */
.MostFamousArabicStory {
  display: flex;
  flex-wrap: wrap;
}
.ShortArabicStory {
  width: 500px;
  background-color: #343434;
  margin: 50px 50px;
  padding: 30px;
  border-radius: 30px;
}
.HeadingForArabicStory {
  font-size: 20px;
  text-align: center;
  color: #ddd;
}

.layout section .MostFamousArabicStory .ShortArabicStory p {
  font-size: 20px;
}
/* The End Of Css Of Most Famous Arabic Stories */

/* End Of The CSS Of The Link Of Each Book in Famous English */

/* The End Of The CSS Of The Most Famous English Books */

/* End CSS of The content of The Page */

/* CSS Footer of The Page*/
.layout footer {
  grid-area: foot;
  background-color: #343434;
}
/* The CSS of Unordered list of Footer */
.layout footer ul {
  list-style: none;
  display: flex;
}
/* The End of CSS of Unordered list of Footer */
/* The CSS of the List Elements of The Unordered List in The Header*/
.layout footer ul li {
  margin-right: 90px;
}
/* The CSS of The of The Links In The Elements of The List in Footer*/
.layout footer ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.954);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
/* The End of The CSS of The of The Links In The Elements of The List in Footer*/

/* End of CSS Footer of The Page*/
